@page
@model IdentityUsers.Areas.Identity.Pages.Account.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ClaimEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimEntity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimEntity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimEntity.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimEntity.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimEntity.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaimEntity.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ClaimEntity?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
